<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daku.bigmall.user.mapper.UserMapper">

    <select id="selectAllUser" resultType="com.daku.bigmall.user.mapper.UserMapper">
        select t.* from ums_member t
    </select>

    <select id="selectReceiveAddressByMemberId" resultType="com.daku.bmall.bean.UmsMember">
        select t.* from ums_member_receive_address t
    </select>
</mapper>